/* Css Reset可以清空一切初始格式 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after{  /* 讓全部的標籤不會因為padding、margin、border的寬、高所影響 */
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}

/* 大外框 */
.wrap{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
}
/* 表頭大外框 */
.header{    
    position: relative;
}
/* 表頭logo */
.header > a{
    display: block;
    width: 250px;
    height: 250px;
    background-image: url("../rwd成品一(網路課程製作)/images/M1.png");
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;    
}
/* 表頭菜單 */
.header .menu{
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    clear: both;
    display: flex;
}
.menu a{
    display: block;
    width: 100px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: blue;
}
.menu a:hover{
    background-color: aqua;
    color: black;
}
/* 表頭手機版 */
@media screen and (max-width:768px) { /* 這個是手機寬度 */       
    /* 表頭logo */
    .header > a{
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    .header > a{
        background-image: url("../rwd成品一(網路課程製作)/images/M2.png");
    }
    /* 表頭菜單 */
    .header .menu{
        position: relative;
        float: none;
        display: block;
        margin-top: 20px;
    }
    .menu a{
        width: 90%;        
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 5px;
    }
}
/* 內容大外框 */
.content{    
    margin-top: 50px;  
    float: left;
    width: 65%; 
    margin-right: 5%;
}
/* 內容六角學院新聞 */
.content .title{    
    border: 2px solid black;
    padding: 20px;    
}
.title h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.title p{
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: justify;
}
/* 內容六角學院新聞手機版 */
@media screen and (max-width:768px) { /* 這個是手機寬度 */
    .content{
        width: 100%;
        margin-right: 0;
        float: none;
        margin: 0 auto;
    }
    .content .title{
        border: none;        
    }
}
/* 側邊欄 */
.sidebar{
    width: 20%;
    padding: 5px;
    border: 2px solid black;  
    float: right;   
    margin-top: 50px;
}
.sidebar img{
    display: block;
    width: 178px;
    height: 133px;
    margin-bottom: 5px;
}
/* 側邊欄手機版 */
@media screen and (max-width:768px) { /* 這個是手機寬度 */
    .sidebar{
        border: none;
        float: none;
        margin-top: 20px;
        width: 100%;
    }
    .sidebar img{
        width: auto;
        height: auto;
    }
    
}
/* 表尾 */
.footer{
    margin-top: 620px; 
    text-align: center;
} 
/* 表尾手機版 */
@media screen and (max-width:768px) { /* 這個是手機寬度 */
    .footer{
        margin-top: 20px;
    }
}
